body { 
    padding-top: 0px;
      color: black;
      background-color: #fff !important;
      font-family: "Open Sans", sans-serif !important;
}

.site-content {
    padding-top: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar { margin-bottom:0px !important; }
.carousel-caption { margin-top:0px !important }


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    padding-top: 10px;
    color: black;
    height: 155px; /* .push must be the same height as .footer */
}
